
<form id="product_form">
    <h1>Formulario para regristrar un producto</h1>
    <label for="product_name">Ingrese el nombre de su producto</label>
    <input type="text" placeholder="Moto g8" name="product_name" id="product_name" required>
    <label for="product_price">Ingresa un precio para su producto</label>
    <input type="number" placeholder="3421" name="product_price" id="product_price" required>
    <label for="product_stock">Ingresa el stock disponible</label>
    <input type="number" placeholder="5" name="product_stock" id="product_stock" required>
    <label for="product_thumbnail">Ingresa una imagen <span>(opcional)</span></label>
    <input type="text" placeholder="https://db/Moto-g8.png" name="product_thumbnail" id="product_thumbnail">
    <label for="product_description">Ingresa una descripcion para su producto</label>
    <textarea name="product_description" id="product_description" placeholder="64 GB de ram con colores disponibles..."></textarea>
    <input type="submit">
</form>
